// Contacts
.s_contacts {
	padding-bottom: 0;
	text-align: center;
	h2 {
		vertical-align: middle;
		color: #000;
		display: inline-block;
		margin-bottom: 0;
		height: 45px;
		line-height: 45px;
	}
	ul {
		li {
			text-align: left;
		}
	}
}

.map {
	margin-top: 58px;
	margin-bottom: 40px;
	min-height: 480px;
	background-color: #E1D6B0;
}

#city_wrap {
	display: none;
}

.city {
	padding-top: 40px;
}