// Contacts
.s_contacts {
	padding-bottom: 0;
	text-align: center;
	h2 {
		vertical-align: middle;
		color: #000;
		display: inline-block;
		margin-bottom: 0;
		height: 45px;
		line-height: 45px;
	}
}

.map {
	margin-top: 58px;
	min-height: 480px;
	background-color: #E1D6B0;
}
