section.maount.addition.grey
	.container
		.row
			.col-md-12
				.type_wrap.clearfix#front
					.col-md-12
						h2 Консольные стеллажи
						.img_type_wrap
							img(src="img/cons.jpg", alt="Консольные стеллажи")
						p Консольные стеллажи предназначены для хранения длинномеров. Имеют фронтальные загрузочно/разгрузочные стороны либо с одной, либо с двух сторон.
						h3 ООсобенности консольных стеллажей:
						ul
							li Позволяют хорошо сортировать различные виды грузов;
							li Имеют лёгкий доступ и хороший обзор хранимой продукции;
							li С целью гибкого использования площадей могут устанавливаться на мобильные основания.