// Contacts
section.s_contacts#contacts
	.contacts_top
		h2 Работаем по всей России
	.map
		script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=O_4-b5NdXiWORsBfywBR6WRfcbzpO5kn&height=480").
	a(id="toggler" href="#").add_link Открыть весь список городов
	#city_wrap.city
		.container
			.row
				.col-md-4.col-sm-4
						ul
							li Абакан, Республика Хакасия
							li Анадырь, Чукотскотский округ
							li Архангельск, Архангельская область
							li Астрахань, Астраханская область
							li Барнаул, Алтайский край
							li Белгород, Белгородская область
							li Биробиджан, Еврейский автономной области
							li Благовещенск, Амурская область
							li Брянск, Брянская область
							li Великий Новгород, Новгородская область
							li Красноярск, Красноярский край
							li Курган, Курганская область
							li Курск, Курская область
							li Кызыл, Республика Тыва
							li Липецк, Липецкая область
							li Магадан, Магаданская область
							li Магас, Республика Ингушетия
							li Майкоп, Республика Адыгея
							li Махачкала, Дагестанская Республика
							li Москва, Московская область
							li Севастополь, Республика Крым
							li Симферополь, Республика Крым
							li Смоленск, Смоленская область
							li Ставрополь, Ставропольский Край
							li Сыктывкар, Республика Коми
							li Тамбов, Тамбовская область
							li Чита, Забайкальский край
							li Элиста, Республика Калмыкия
				.col-md-4.col-sm-4
					ul
						li Владивосток, Приморский край
						li Владикавказ, Республика Северная Осетия
						li Владимир, Владимирская область
						li Волгоград, Волгоградская область
						li Вологда, Вологодская область
						li Воронеж, Воронежская область
						li Горно-Алтайск, Республика Алтай
						li Грозный, Чеченская Республика
						li Екатеринбург, Свердловская область
						li Иваново, Ивановская область
						li Мурманск, Мурманская область
						li Нальчик, Кабардино-Балкарии
						li Нарьян-Мар, Ненецкого округ
						li Нижний Новгород, Нижегородская область
						li Новосибирск, Новосибирская область
						li Омск, Омская область
						li Орел, Орловская область
						li Оренбург, Оренбургская область
						li Пенза, Пензенская область
						li Пермь, Пермский край
						li Тверь, Тверская область
						li Томск, Томская область
						li Тула, Тульская область
						li Тюмень, Тюменская область
						li Улан-Удэ, Республика Бурятия
						li Ульяновск, Ульяновская область
						li Южно-Сахалинск, Сахалинская область
						li Якутск Республика, Республика Саха(Якутия)
				.col-md-4.col-sm-4
					ul
						li Ижевск, Удмуртская Республика 
						li Иркутск, Иркутская область
						li Йошкар-Ола, Республика Марий Эл
						li Казань, Республика Татарстан
						li Калининград, Калининградская область
						li Калуга, Калужская область
						li Кемерово, Кемеровская область
						li Киров, Кировская область
						li Кострома, Костромская область
						li Краснодар, Краснодарский край
						li Петрозаводск, Республика Карелия
						li Петропавловск-Камчатский, Камчатский Край
						li Псков, Псковская область
						li Ростов-на-Дону, Ростовская область
						li Рязань, Рязанская область
						li Салехард, Ямало-Ненецкого
						li Самара, Самарская область
						li Санкт-Петербург, Ленинградская область
						li Саранск, Республика, Мордовия
						li Саратов, Саратовская, область
						li Уфа Республика, Башкортостан
						li Хабаровск, Хабаровский край
						li Ханты-Мансийск, Ханты-Мансийский Округ
						li Чебоксары, Чувашская Республика
						li Челябинск, Челябинская область
						li Черкесск, Черкесская Республика
						li Ярославль, Ярославская область