section.maount.addition.grey
	.container
		.row
			.col-md-12
				.type_wrap.clearfix#front
					.col-md-12
						h2 Глубинные (набивные) стеллажи
						.img_type_wrap
							img(src="img/glub.jpg", alt="Глубинные стеллажи")
						p Глубинные (набивные) стеллажи представляют собой рамные конструкции, которые, благодаря рам, последовательно наполняются паллетизированными грузами погрузчиком, заезжающим непосредственно внутрь стеллажей. Этим достигается большая плотность хранения («набивка»). Наиболее востребованы для большого объёма хранения и грузооборота, характерных для крупных логистических центров, складов и предприятий, а также предприятий торговли, таких, как супер и гипермаркеты.
						h3 Отличительные особенности:
						ul
							li Возможность использования всей площади склада за счёт сокращения количества межстеллажных аллей;
							li Возможность рационального использования объёма помещения за счёт плотного высотного хранения;
							li Возможность хранения как на европаллетах (поддонах), так и на перекидных балках, что позволяет размещать как штучные грузы, так и длинномеры;
							li Возможность хранения различных грузов, как по составу, так и по габаритам.