// Maount
section.maount#disassemble.grey
	.container
		.row
			.col-md-12
				.sec_img
					<i class="my my_b"></i>
				h2 Демонтаж стеллажей
				.maount_img
						img(src="img/maount4.jpg", alt="монтаж стеллажей")
				.col-md-12
				p Достаточно часто в процессе эксплуатации стеллажей приходится выполнять их демонтаж. Такая необходимость может возникать в случае переезда или перепланировки склада, например, в связи с увеличением или снижением оборотов продукции. В подобных случаях главной задачей является оперативный демонтаж стеллажей на отдельные элементы без причинения ущерба конструкции. Наша компания выполнит демонтаж стеллажей быстро, качественно и за оптимальную цену. Среди основных работ выполняемых при демонтаже, можно назвать демонтаж стяжек, высаживание горизонтальных балок, спиливание анкерных болтов подпятников, складирование рам. Демонтаж стеллажей достаточно трудоемкий процесс. Это связано с тем, что в процессе эксплуатации стеллажа многие его конструктивные элементы деформируются, происходит окисление резьбовых соединений, что осложняет демонтаж. Неквалифицированное исполнение демонтажных работ зачастую связано с завышенными сроками. Кроме того, возникает угроза повреждения конструктивных элементов, в результате чего может требоваться ремонт стеллажей или замена. Наша компания обеспечивает оперативный демонтаж стеллажей с гарантией качества. Также мы выполняем и такелажные работы, транспортировку с последующей выгрузкой в месте хранения или сборки.
