section.maount.addition.grey
	.container
		.row
			.col-md-12
				.type_wrap.clearfix#front
					.col-md-12
						h2 Фронтальные стеллажи
						.img_type_wrap
							img(src="img/front.jpg", alt="Фронтальные стеллажи")
						p Фронтальные стеллажи для размещения паллетизированных грузов представляют собой стеллажи для поддонов (европаллет) с грузом с фронтальной загрузкой. Это самая универсальная и распространённая схема хранения паллетизированных грузов.
						h3 Основными преимуществами являются:
						ul
							li Доступ к  каждой паллете с фронта стеллажей без перемещения соседних грузов;
							li Адресное хранение каждого груза;
							li Схема в виде сборно-разборного конструктора, позволяющего быстро и без повреждений собирать/разбирать пространственные системы различных конфигураций и уровней хранения, а за счёт применения элементов, рассчитанных на целый ряд нагрузок, разлчной вместимости и грузоподъёмности;
							li Многоуровневое хранение (высотные стеллажи) позволяет эффективно использовать весь объём помещения.