// Header
header
	.container
		.row
			.top_line
				.col-md-6.col-sm-6
					.logo RACKS
				.col-md-6.col-sm-6
					.top_phone
						.wrap_tabs
							.tabs
								span.tab Чебоксары
								|	/ 
								span.tab Москва
							.tab_content
								.tab_item +7 (951) 999-91-11
								.tab_item +7 (888) 888-88-88
		.row
			.top_header
				.col-md-12
					h1 Монтаж металлических стеллажей
					h2 Лучшее качество по лучшей цене
			.tabs_header
				.col-md-7
					.wrap_tabs
						.tabs
							span.tab Наши услуги
							span.tab Виды монтажа
						.tab_content
							.tab_item
								ul
									li
										i.my.my_a
										| Монтаж
									li
										i.my.my_b 
										| Демонтаж
									li
										i.my.my_c 
										| Техническое обслуживание 
									li
										i.my.my_d 
										| Ремонт и гарантийный ремонт
							.tab_item
								ul
									li
										i.my.my_f
										| Фронтальные стеллажи
									li
										i.my.my_f
										| Глубинные стеллажи
									li
										i.my.my_f
										| Консольные стеллажи
									li
										i.my.my_f
										| Мезонин
									li
										i.my.my_f
										| Гравитационные стеллажи
									li
										i.my.my_f
										| Полочные стеллажи
							.button_wrap
								a(href=".hidden_form").button.btn_red.popup_c Заказать звонок