// Maount
section.maount.grey#maount
	.container
		.row
			.col-md-12
				.sec_img
					<i class="my my_a"></i>
				h2 Монтаж стеллажей любых видов
				.row
					.maount_head
						.maount_img
							img(src="img/maount.jpg", alt="монтаж стеллажей")
						.col-md-12
							p В логистике предприятия, стеллажи являются незаменимым атрибутом и имеют самое широкое применение. Монтаж стеллажей, а также проведение демонтажных работ, должны осуществлять только квалифицированные монтажники. От уровня их профессионализма и опыта в значительной степени зависит дальнейшая функциональность складского оборудования, а также безопасность хранящегося груза.
							p Нашей компанией выполняются работы по монтажу всех видов стационарных и передвижных стеллажей. Мы имеем необходимый опыт и работаем только с ответственным профессиональным подходом на все 100%. Это позволяет в полной мере использовать всю паспортную нагрузку оборудования и гарантировать высокое качество выполнения работ, в соответствии с требованиями нормативной документации.
				.container
					.row
						.col-md-6
							h4 Сборка стеллажей в пять этапов
							.maount_img
								img(src="img/maount1.jpg", alt="монтаж стеллажей")
							.col-md-12
								ul
									li 
										strong 1. Планировка 
										| складского помещения с нанесением монтажной разметки, в соответствии планом.
									li 
										strong 2. Предварительная сборка 
										| несущих рам стеллажей (стоек и раскосов, жёсткости).  
									li 
										strong 3. Установка рам 
										| стеллажей и навешивание балок первого уровня.  
									li 
										strong 4. Окончательный монтаж 
										| всех уровней стеллажных балок, установка стяжек.
									li 
										strong 5. Контрольное выравнивание 
										| всех секций и монтаж фиксирующих подпятников рам стеллажей к поверхности пола.
						.col-md-6
							h4 Установка стеллажей
							.maount_img
								img(src="img/maount2.jpg", alt="монтаж стеллажей")
							.row
								.col-md-12
									p Установка стеллажей выполняется в соответствии с проектной документацией и характеристиками оборудования. Сборщики стеллажей нашей компании учитывают все ньюансы. Например, в ходе монтажа может возникнуть необходимость нивелирования неровностей поверхности пола. В этих случаях могут подкладываться металлические пластины или клинья. К полу подпятники крепятся анкерными болтами. Мы применяем только анодированные болты и анкера, рассчитанные на многолетнюю службу. Также возможно использование химических анкеров, которые обеспечивают крепление, не теряющее своей жесткости под действием переменных нагрузок (устойчивое к «разбалтыванию»). Конструктивные особенности стеллажа могут потребовать установки металлического настила, который крепится к балкам и ограничителям. При монтаже предусматривается необходимая установка защиты стеллажей от случайных ударов погрузчиков и штабелеров. Для этой цели монтируются специальные отбойники или ограждения рам, которые могут быть установлены вдоль всех стеллажей или для каждой рамы в отдельности.
				.container
					.row
						.col-md-12
							h4 Монтаж стеллажей, конструктивные особенности и типы соединений
							.maount_img
								img(src="img/maount3.jpg", alt="монтаж стеллажей")
							.col-md-12
								p Сегодня применяются стеллажи различных типов. Среди них можно выделить стационарные палетные и сборно-разборные стеллажи. Стационарные стеллажи могут достигать в высоту 12 метров. Наибольшее распространение получили стационарные фронтальные стеллажи. Нашими специалистами качественно и оперативно выполняется монтаж стеллажей даже при максимальной высоте. Сборка стеллажей такого типа является достаточно сложной и трудоемкой. Обычно такие стеллажи собирают из цельных сварных стоек, которые приходится монтировать при помощи самоходных ножничных подъемников. Еще одним популярным конструктивным типом являются сборно-разборные стеллажи, основным преимуществом которых является их универсальность. Особенность конструкции таких стеллажей заключается в том, что она предусматривает возможность частого выполнения монтажных и демонтажных работ. Это позволяет использовать стеллажи в тех случаях, когда имеется необходимость периодической перепланировки пространства в помещениях, не говоря уже, а переезде склада. Оптимальным вариантом являются универсальные стеллажи на зацепах, которые обладают высокой устойчивостью и надежностью. Соединение на зацепах таких стеллажей является быстроразъемным, благодаря этому обеспечивается возможность многократного, быстрого изменения конфигурации в течение всего срока эксплуатации. Широкое распространение сегодня получают мезонины - многоярусные стеллажи, которые имеют переходы и лестничные пролеты. Обычно монтаж мезонин осуществляется на болтах, на весь срок его службы, и не предусматривает никакой перепланировки. При монтаже мезонин применяются подъемники, лебедки, лестницы. Монтаж стеллажей - это работа, которая требует исключительно профессионального подхода. Наши монтажники стеллажей обладают высокой квалификацией и опытом, что позволяет выполнять монтаж качественно и в самые сжатые сроки.