section.maount.addition.grey
	.container
		.row
			.col-md-12
				.type_wrap.clearfix#front
					.col-md-12
						h2 Мезонинные стеллажи
						.img_type_wrap
							img(src="img/mez.jpg", alt="Мезонинные стеллажи")
						p Мезонинные стеллажные системы представляют собой пространственную конструкцию, которая заполняет собой весь объём помещения склада, а благодаря устройству новых этажей на промежуточных уровнях значительно повышает мощность склада. На полу и промежуточных этажах устанавливаются фронтальные или полочные стеллажные системы. Правильная организация пространства способствует заполнению кубатуры помещения в несколько раз. Назначение мезонинных стеллажей для хранения большого объёма разнородных штучных или занимающих небольшое по площади место на полочных стеллажах предметов. Возможно хранение и на европаллетах отдельных ёмкостей, бухт, агрегатов, баллонов и т.п.. Обслуживание стеллажей производится как правило вручную на ярусах верхних этажей и с помощью малой механизации на уровне пола помещения.
						h3 Особенности мезонинных стеллажных систем:
						ul
							li Возможность использовать в качестве базовой несущей конструкции полочные или паллетные стеллажи;
							li Использование платформ позволяет увеличить площадь складирования;
							li Возможность хранения разнообразных по составу и габаритам товаров с применением контейнеров, поддонов, паллет и т.п.;
							li Оптимальное количество ярусов 3 или 4. Большее количество ведёт к необходимости устройства подъёмных механизмов и грузопассажирских лифтов.