// Profi
section.s_profi
	.container
		.row
			.col-md-12
				h2 Доверьте монтаж профессионалам
				.row
					.col-md-8.clearfix
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-12
							.row
								.profi_left.col-md-2.col-sm-2
									i.my.my_i
								.profi_right.col-md-10.col-sm-10
									h3 Наш опыт
									p Мы предоставляем специально обученных специалистов. Весь состав бригад проходит специальную подготовку по сборке и установке стеллажей
										strong  на профессиональном уровне.
										|  Так же мы используем только специально подобранные и качественные инструменты.
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-12
							.row
								.profi_left.col-md-2.col-sm-2
									i.my.my_k
								.profi_right.col-md-10.col-sm-10
									h3 Дополнительные услуги
									p Демонтаж старых стеллажей перед установкой новых. Если у Вас на складе уже стоит данная конструкция, наши специалисты 
											strong быстро и аккуратно 
											| демонтируют её перед установкой новых стеллажей.
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-12
							.row
								.profi_left.col-md-2.col-sm-2
									i.my.my_l
								.profi_right.col-md-10.col-sm-10
									h3 Гарантийное и послегарантийное обслуживание
									p По желанию клиента, раз в 6 или 12 месяцев возможно проведение 
										strong бесплатного планового осмотра 
										| стеллажной конструкции нашими специалистами. При необходимости, бригада монтажников выполнит ремонт и замену элементов стеллажа.
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-12
							.row
								.profi_left.col-md-2.col-sm-2
									i.my.my_m
								.profi_right.col-md-10.col-sm-10
									h3 Индивидуальность
									p Мы делаем акцент на индивидуальном подходе 
										strong к каждому клиенту 
										| и четкой организации рабочего процесса.
					.col-md-4
						form(method="POST" id="feedback-form")
							h2 Связаться с нами
							label
								span Ваше имя:
								input(type="text" name="nameFF" required)
							label
								span Ваш телефон:
								input(type="tel" name="contactFF" required)
							.button_wrap
								input(type="submit" value="Отправить заявку").button.btn_green
