// Profi
section.s_profi.grey
	.container
		.row
			.col-md-12
				h2 Доверьте монтаж профессионалам
				.row
					.col-md-8.clearfix
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-12
							.row
								.profi_left.col-md-2.col-sm-2
									i.my.my_i
								.profi_right.col-md-10.col-sm-10
									h3 Наш опыт
									p Мы предоставляем специально обученных специалистов. Весь состав бригад проходит специальную подготовку по сборке и установке стеллажей
										strong  на профессиональном уровне.
										|  Так же мы используем только специально подобранные и качественные инструменты.
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-12
							.row
								.profi_left.col-md-2.col-sm-2
									i.my.my_k
								.profi_right.col-md-10.col-sm-10
									h3 Дополнительные услуги
									p Помимо демонтажных работ компания предлагает 
										strong целый комплекс услуг, 
										| который по выбору заказчика может комплектоваться в различных вариантах. К ним относятся:
									a(href="#").add_link#open-close Показать список всех услуг
									ul.add_services#block-links
										li
											strong Приёмка помещений под монтаж с дефектацией строительных недоделок;
										li
											strong Приёмка, проверка комплектации и дефектация оборудования, поступившего на монтаж;
										li
											strong Обследование состояния существующих стеллажей;
										li
											strong Рекомендации по выбору и применению стеллажных систем;
										li
											strong Испытания установленных стеллажных систем;
										li
											strong Установка защитных конструкций;
										li
											strong Установка ограждений проходов/проездов в стеллажах и распылителей для внутристеллажного спринклера;
										li
											strong Установка погрузочно-разгрузочных доков;
										li
											strong Установка усреднителей уровней пола и борта машины, погрузочных платформ и мостов, подъёмных лифтов типа «ножницы»;
										li
											strong Установка аппарелей и технологических платфом и мостиков, мостиков обслуживания;
										li
											strong Установка ворот/дверей /технологических закрытых проёмов, в том числе и в противопожарном исполнении;
										li
											strong Установка эвакуационных дверей и лестниц;
										li
											strong Установка пожарных лестниц и сухотрубов:
										li 
											strong Проектные работы и работы по составлению исполнительной документации;
										li
											strong Установка монтажных площадок под приём оборудования в том числе и под аэростатические опоры.
									p Приведённый перечень в каждом конкретном случае может быть дополнен новым видом монтажных работ (по результатам предварительного ознакомления).
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-12
							.row
								.profi_left.col-md-2.col-sm-2
									i.my.my_l
								.profi_right.col-md-10.col-sm-10
									h3 Гарантийное и послегарантийное обслуживание
									p Компания предлагает эксплуатационное обслуживание оборудования стеллажных и других вышеперечисленных дополнительных систем в различных, удобных заказчику, вариантах. Обслуживание может быть плановым, связанным с реорганизацией, техническим перевооружением и реконструкцией, по вызову заказчика, в аварийных случаях. 
										strong На все виды обслуживания 
										| предлагается заключение договора.
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-12
							.row
								.profi_left.col-md-2.col-sm-2
									i.my.my_m
								.profi_right.col-md-10.col-sm-10
									h3 Индивидуальность
									p Компания предлагает индивидуальный подход к задачам заказчика на всех стадиях выполнения работ. Данная услуга подкрепляется работой специалистов, предлагающих оптимальные в каждом проекте решения. Индивидуальный подход базируется также на выполнении требований нормативов и техники безопасности.
									p Вопросы дальнейшей безопасной эксплуатации установленных систем решаются уже в процессе установки стеллажного оборудования. Кроме того, заказчик получает комплект исполнительной документации, отражающий принятые оперативно в период выполнения работ решения. Компания гарантирует полное соблюдение законодательства РФ во все своей деятельности.
					.col-md-4
						form(method="POST" id="feedback-form")
							h2 Связаться с нами
							label
								span Ваше имя:
								input(type="text" name="nameFF" required)
							label
								span Ваш телефон:
								input(type="tel" name="contactFF" required)
							label
								span Ваш вопрос:
								textarea(name="messageFF", required rows="3")
							.button_wrap
								input(type="submit" value="Отправить заявку").button.btn_green
