// Rewview
section.s_rewview.s_dark(data-stellar-background-ratio="0.5")
	.container
		.row
			.col-md-12
				h2 Отзывы наших клиентов
		.row
			.col-md-12
				.carousel
					.review_item
						.image_wrap
							img(src="img/review.jpg", alt="Alt")
						h4 Соломатина Наталья
						.hr
						.row
							p.col-md-8 Рекомендуем компанию «Racks» как надежного и исполнительного подрядчика. Привлечение этой фирмы в качестве партнера строительства складского комплекса позволило четко соблюсти сроки запуска проекта, предложить мультифункциональную систему хранения и обеспечить ее гарантийное обслуживание.
					.review_item
						.image_wrap
							img(src="img/review.jpg", alt="отзыв о монтаже стеллажей" title="отзыв о монтаже стеллажей")
						h4 Соломатина Наталья
						.hr
						.row
							p.col-md-8 Рекомендуем компанию «Racks» как надежного и исполнительного подрядчика. Привлечение этой фирмы в качестве партнера строительства складского комплекса позволило четко соблюсти сроки запуска проекта, предложить мультифункциональную систему хранения и обеспечить ее гарантийное обслуживание.