//- Tizers
.s_tizers
	.container
		.row
			.col-md-3.col-sm-3
				.tiz_img
					i.my.my_j
				.tiz_descr
					span Быстрый демонтаж
					strong Стеллажей
			.col-md-3.col-sm-3
				.tiz_img
					i.my.my_h
				.tiz_descr
					span Монтаж стеллажей
					strong Любой сложности
			.col-md-3.col-sm-3
				.tiz_img
					i.my.my_g
				.tiz_descr
					span Квалифицированные
					strong Монтажники
			.col-md-3.col-sm-3
				.tiz_img
					i.my.my_f
				.tiz_descr
					span Гарантии
					strong На все виды работ