// SERVICE
section.maount.grey#service
	.container
		.row
			.col-md-12
				.sec_img
					<i class="my my_c"></i>
				h2 Техническое обслуживание стеллажей
				.row
					.maount_head
						.maount_img
							img(src="img/maount5.jpg", alt="техническое обслуживание стеллажей")
						.col-md-12
							p На первый взгляд, стеллаж является конструкцией, не требующей пристального внимания и регулярного обслуживания. При этом многие забывают, что складское оборудование постоянно подвержено статическим, динамическим и ударным нагрузкам, ведущим к повреждению основных элементов!
							p Отечественная практика показывает, что стеллажи нуждаются в постоянном поддержании рабочего состояния. В процессе эксплуатации таких металлоконструкций легче предотвратить проблему, чем заниматься подсчетами убытков, связанных с разрушением системы! При этом цена обслуживания стеллажей непосредственно поставщиками оборудования иногда может быть путем компенсации за низкую стоимость закупки. Организации, эксплуатирующие склады длительное время, предпочитают заказывать техническое обслуживание стеллажей у профессионалов, непосредственножели проводить подобные работы самостоятельно.
							h4 Варианты обслуживания
							ul
								li ООО «RAKS. Монтаж металлических стеллажей» предлагает вам высококачественные услуги по техническому обслуживанию и ремонту стеллажей, а также другие работы, связанные с соблюдением норм и правил их эксплуатации.
								li Мы предлагаем несколько вариантов технического обслуживания стеллажей в рамках следующих типов договоров: разовый сервис, интервальный сервис, полный сервис.
								li Разовый сервис стеллажного оборудования подразумевает выезд бригады по конкретной заявке и решение проблемы в рамках согласованного технического задания.
								li Интервальный сервис – это обслуживание стеллажей по определенному графику (раз в месяц, раз в квартал и т.д.) в рамках согласованного объема работ (проведение обследования стеллажей, проведение технического обслуживания и так далее).
								li Полный сервис – наиболее удобный для руководства склада вид сотрудничества, когда наши специалисты незамедлительно выезжают по заявке операционного персонала и устраняют возникшую проблему.
								li При всех видах сервисного обслуживания происходит максимально оперативное взаимодействие руководителя монтажной бригады и отдела запасных частей для немедленного размещения заказа на комплектующие.
								li Заказать обслуживание стеллажей в наиболее подходящей форме Вы можете, обратившись к нашим специалистам.

// //Service