section.maount.addition.grey
	.container
		.row
			.col-md-12
				.type_wrap.clearfix#front
					.col-md-12
						h2 Полочные стеллажи
						.img_type_wrap
							img(src="img/pol.jpg", alt="Полочные стеллажи")
						p Полочные стеллажи представляют собой пространственные системы, формируемые элементами в виде стоек, раскосов, полок или балок. Полочное хранение характерно для разнородных по составу и габаритам грузов, балочное – для паллетизированного хранения. Обе разновидности различаются по грузоподъёмности и узловым креплениям. Также на практике используются стационарные и передвижные полочные стеллажи.
						h3 Особенности полочных стеллажей:
						ul
							li Позволяют гибко формировать заполняющие пространство стеллажные системы в виде зон различной конфигурации: острова, пристенные, регулярные ряды, произвольной конфигурации в помещениях неправильной формы;
							li Модульность конструкции позволяет часто выполнять необходимые перепланировки;