// TYPES
section.maount.addition
	.container
		.row
			.col-md-12
				h2 Виды стеллажей
				.type_wrap.clearfix#front
					.col-md-3
						.img_type_wrap
							img(src="img/front.jpg", alt="Фронтальные стеллажи")
					.col-md-9
						h4 Фронтальные стеллажи
						p Фронтальные стеллажи для размещения паллетизированных грузов представляют собой стеллажи для поддонов (европаллет) с грузом с фронтальной загрузкой. Это самая универсальная и распространённая схема хранения паллетизированных грузов.
						h3 Основными преимуществами являются:
						ul
							li Доступ к  каждой паллете с фронта стеллажей без перемещения соседних грузов;
							li Адресное хранение каждого груза;
							li Схема в виде сборно-разборного конструктора, позволяющего быстро и без повреждений собирать/разбирать пространственные системы различных конфигураций и уровней хранения, а за счёт применения элементов, рассчитанных на целый ряд нагрузок, разлчной вместимости и грузоподъёмности;
							li Многоуровневое хранение (высотные стеллажи) позволяет эффективно использовать весь объём помещения.
		.row
			.col-md-12
				.type_wrap.clearfix#glub
					.col-md-3
						.img_type_wrap
							img(src="img/glub.jpg", alt="Глубинные стеллажи")
					.col-md-9
						h4 Глубинные (набивные) стеллажи
						p Глубинные (набивные) стеллажи представляют собой рамные конструкции, которые, благодаря рам, последовательно наполняются паллетизированными грузами погрузчиком, заезжающим непосредственно внутрь стеллажей. Этим достигается большая плотность хранения («набивка»). Наиболее востребованы для большого объёма хранения и грузооборота, характерных для крупных логистических центров, складов и предприятий, а также предприятий торговли, таких, как супер и гипермаркеты.
						h3 Отличительные особенности:
						ul
							li Возможность использования всей площади склада за счёт сокращения количества межстеллажных аллей;
							li Возможность рационального использования объёма помещения за счёт плотного высотного хранения;
							li Возможность хранения как на европаллетах (поддонах), так и на перекидных балках, что позволяет размещать как штучные грузы, так и длинномеры;
							li Возможность хранения различных грузов, как по составу, так и по габаритам.
		.row
			.col-md-12
				.type_wrap.clearfix#cons
					.col-md-3
						.img_type_wrap
							img(src="img/cons.jpg", alt="Консольные стеллажи")
					.col-md-9
						h4 Консольные стеллажи
						p Консольные стеллажи предназначены для хранения длинномеров. Имеют фронтальные загрузочно/разгрузочные стороны либо с одной, либо с двух сторон.
						h3 Особенности консольных стеллажей:
						ul
							li Позволяют хорошо сортировать различные виды грузов;
							li Имеют лёгкий доступ и хороший обзор хранимой продукции;
							li С целью гибкого использования площадей могут устанавливаться на мобильные основания.
		.row
			.col-md-12
				.type_wrap.clearfix#mez
					.col-md-3
						.img_type_wrap
							img(src="img/mez.jpg", alt="Мезонинные стеллажи")
					.col-md-9
						h4 Мезонинные стеллажи
						p Мезонинные стеллажные системы представляют собой пространственную конструкцию, которая заполняет собой весь объём помещения склада, а благодаря устройству новых этажей на промежуточных уровнях значительно повышает мощность склада. На полу и промежуточных этажах устанавливаются фронтальные или полочные стеллажные системы. Правильная организация пространства способствует заполнению кубатуры помещения в несколько раз. Назначение мезонинных стеллажей для хранения большого объёма разнородных штучных или занимающих небольшое по площади место на полочных стеллажах предметов. Возможно хранение и на европаллетах отдельных ёмкостей, бухт, агрегатов, баллонов и т.п.. Обслуживание стеллажей производится как правило вручную на ярусах верхних этажей и с помощью малой механизации на уровне пола помещения.
						h3 Особенности мезонинных стеллажных систем:
						ul
							li Возможность использовать в качестве базовой несущей конструкции полочные или паллетные стеллажи;
							li Использование платформ позволяет увеличить площадь складирования;
							li Возможность хранения разнообразных по составу и габаритам товаров с применением контейнеров, поддонов, паллет и т.п.;
							li Оптимальное количество ярусов 3 или 4. Большее количество ведёт к необходимости устройства подъёмных механизмов и грузопассажирских лифтов.
		.row
			.col-md-12
				.type_wrap.clearfix#grav
					.col-md-3
						.img_type_wrap
							img(src="img/grav.jpg", alt="Гравитационные стеллажи")
					.col-md-9
						h4 Гравитационные стеллажи
						p Гравитационные стеллажи имеют наклонные роликовые дорожки, по которым за счёт гравитации скользят в одном направлении паллеты с паллетизированным грузом, контейнеры или коробки. Гравитационные стелажи наиболее плотно занимают пространство склада за счёт уменьшения операционных фронтов, которых здесь всего два: фронт загрузки с одной стороны, фронт выгрузки – с другой. Для удобства постановки груза на дорожку устанавливаются ловители. Для направления движения груза – направляющие, для регулирования движения – тормоза. Исходя из законов физики, скорость движения (ускорение качения) не зависит от массы груза.
						h3 Особенности гравитационных стеллажей:
						p Поскольку первый груз дорожки, начавший по ней движение, будет выгружен первым – это обстоятельство позволяет точно контролировать грузы по срокам пребывания, приоритету комплектации отгрузки, оборотоспособности склада.
						p Вышеперечисленные особенности позволяют успешно применять «гравитацию»: в накопительных складах, холодильниках, складах хранения разнородных грузов, в складах ЗИП. Кроме того, на них легко решаются задачи компьютерного сопровождения грузов, вплоть до отдельного размещения блоков гравитационных стеллажей в зонах комплектации грузов.
		.row
			.col-md-12
				.type_wrap.clearfix#pol
					.col-md-3
						.img_type_wrap
							img(src="img/pol.jpg", alt="Полочные стеллажи")
					.col-md-9
						h4 Полочные стеллажи
						p Полочные стеллажи представляют собой пространственные системы, формируемые элементами в виде стоек, раскосов, полок или балок. Полочное хранение характерно для разнородных по составу и габаритам грузов, балочное – для паллетизированного хранения. Обе разновидности различаются по грузоподъёмности и узловым креплениям. Также на практике используются стационарные и передвижные полочные стеллажи.
						h3 Особенности полочных стеллажей:
						ul
							li Позволяют гибко формировать заполняющие пространство стеллажные системы в виде зон различной конфигурации: острова, пристенные, регулярные ряды, произвольной конфигурации в помещениях неправильной формы;
							li Модульность конструкции позволяет часто выполнять необходимые перепланировки;

// //Types