extends ../main

block title 
	| Консольные стеллажи
block css
	link(rel="stylesheet" href="css/add_page.css")
block wrapper
	include ../_include/_header

	include ../_include/_console_stel

	include ../_include/_contacts

	include ../_include/_footer

	include ../_include/_counters