extends ../main

block title 
	| Компания Racks - Монтаж металлических стеллажей любой сложности
block wrapper
	include ../_include/_header

	include ../_include/_s_tizers

	include ../_include/_s_profi

	include ../_include/_s_rewview

	include ../_include/_contacts

	include ../_include/_footer

	include ../_include/_counters