extends ../main

block title 
	| Монтаж всех видов стеллажей
block css
	link(rel="stylesheet" href="css/add_page.css")
block wrapper
	include ../_include/_header

	include ../_include/_maount

	include ../_include/_contacts

	include ../_include/_footer

	include ../_include/_counters