extends ../main

block title 
	| Техническое обслуживание стеллажей
block css
	link(rel="stylesheet" href="css/add_page.css")
block wrapper
	include ../_include/_header

	include ../_include/_service

	include ../_include/_contacts

	include ../_include/_footer

	include ../_include/_counters